[Unit]
Description=cfddns a simple python script to configure CloudFlareAPI with current IP Address of WAN Interface

[Service]
ExecStart=/usr/sbin/cfddns.py
Type=oneshot

[Install]
WantedBy=multi-user.target 